USE [pcventas]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 4/03/2021 21:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[IdArticulo] [nvarchar](5) NOT NULL,
	[NomArticulo] [nvarchar](50) NULL,
	[PreArticulo] [real] NULL,
	[Stock] [smallint] NULL,
	[Categ] [tinyint] NULL,
 CONSTRAINT [Articulos$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[IdArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 4/03/2021 21:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Categoria] [tinyint] NOT NULL,
	[Nombre] [nvarchar](15) NULL,
 CONSTRAINT [Categorias$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 4/03/2021 21:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Idcliente] [nvarchar](5) NOT NULL,
	[NomCliente] [nvarchar](100) NULL,
	[DirCliente] [nvarchar](50) NULL,
	[TelCliente] [nvarchar](10) NULL,
	[Email] [nvarchar](20) NULL,
 CONSTRAINT [Clientes$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[Idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles]    Script Date: 4/03/2021 21:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles](
	[IdFactura] [int] NULL,
	[IdArticulo] [nvarchar](5) NULL,
	[PreVenta] [real] NULL,
	[Cantidad] [real] NULL,
	[SSMA_TimeStamp] [timestamp] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 4/03/2021 21:47:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IdFactura] [int] NOT NULL,
	[Fecha] [datetime2](0) NULL,
	[IdCliente] [nvarchar](5) NULL,
 CONSTRAINT [Facturas$PrimaryKey] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Articulos] ([IdArticulo], [NomArticulo], [PreArticulo], [Stock], [Categ]) VALUES (N'A0001', N'Case AT Minitower', 25, 50, 3)
INSERT [dbo].[Articulos] ([IdArticulo], [NomArticulo], [PreArticulo], [Stock], [Categ]) VALUES (N'A0002', N'Case ATX Minitower', 35, 40, 3)
INSERT [dbo].[Articulos] ([IdArticulo], [NomArticulo], [PreArticulo], [Stock], [Categ]) VALUES (N'A0003', N'Disk Drive 1.44 Mb', 18, 80, 3)
INSERT [dbo].[Categorias] ([Categoria], [Nombre]) VALUES (1, N'Multimedia')
INSERT [dbo].[Categorias] ([Categoria], [Nombre]) VALUES (2, N'Mainboards')
INSERT [dbo].[Categorias] ([Categoria], [Nombre]) VALUES (3, N'Componentes')
INSERT [dbo].[Clientes] ([Idcliente], [NomCliente], [DirCliente], [TelCliente], [Email]) VALUES (N'C0001', N'MARCOS VALER', N'', N'', N'mvaler@buenaventura.')
INSERT [dbo].[Clientes] ([Idcliente], [NomCliente], [DirCliente], [TelCliente], [Email]) VALUES (N'C0002', N'ISTER', N'', N'', N'ister@telematic.edu.')
INSERT [dbo].[Clientes] ([Idcliente], [NomCliente], [DirCliente], [TelCliente], [Email]) VALUES (N'C0003', N'ALEJANDRO VALDERRAMA', N'', N'', N'aleval@cunion.upeu.e')
GO
INSERT [dbo].[Detalles] ([IdFactura], [IdArticulo], [PreVenta], [Cantidad]) VALUES (10000, N'A0017', 27, 4)
INSERT [dbo].[Detalles] ([IdFactura], [IdArticulo], [PreVenta], [Cantidad]) VALUES (10001, N'A0025', 9.8, 42)
INSERT [dbo].[Detalles] ([IdFactura], [IdArticulo], [PreVenta], [Cantidad]) VALUES (10001, N'A0040', 12.8, 36)
GO
INSERT [dbo].[Facturas] ([IdFactura], [Fecha], [IdCliente]) VALUES (10000, CAST(N'1999-10-03T00:00:00.0000000' AS DateTime2), N'C0017')
INSERT [dbo].[Facturas] ([IdFactura], [Fecha], [IdCliente]) VALUES (10001, CAST(N'1999-10-06T00:00:00.0000000' AS DateTime2), N'C0008')
INSERT [dbo].[Facturas] ([IdFactura], [Fecha], [IdCliente]) VALUES (10002, CAST(N'1999-10-07T00:00:00.0000000' AS DateTime2), N'C0003')
GO
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ((0)) FOR [Categ]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT ((0)) FOR [Categoria]
GO
ALTER TABLE [dbo].[Detalles] ADD  DEFAULT ((0)) FOR [IdFactura]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [IdFactura]
GO
ALTER TABLE [dbo].[Articulos]  WITH NOCHECK ADD  CONSTRAINT [Articulos$CategoriasArticulos] FOREIGN KEY([Categ])
REFERENCES [dbo].[Categorias] ([Categoria])
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [Articulos$CategoriasArticulos]
GO
ALTER TABLE [dbo].[Detalles]  WITH NOCHECK ADD  CONSTRAINT [Detalles$Articulosdetalle] FOREIGN KEY([IdArticulo])
REFERENCES [dbo].[Articulos] ([IdArticulo])
GO
ALTER TABLE [dbo].[Detalles] CHECK CONSTRAINT [Detalles$Articulosdetalle]
GO
ALTER TABLE [dbo].[Detalles]  WITH NOCHECK ADD  CONSTRAINT [Detalles$facturadetalle] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Facturas] ([IdFactura])
GO
ALTER TABLE [dbo].[Detalles] CHECK CONSTRAINT [Detalles$facturadetalle]
GO
ALTER TABLE [dbo].[Facturas]  WITH NOCHECK ADD  CONSTRAINT [Facturas$Clientefactura] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([Idcliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [Facturas$Clientefactura]
GO
ALTER TABLE [dbo].[Articulos]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Articulos$IdArticulo$disallow_zero_length] CHECK  ((len([IdArticulo])>(0)))
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [SSMA_CC$Articulos$IdArticulo$disallow_zero_length]
GO
ALTER TABLE [dbo].[Articulos]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Articulos$NomArticulo$disallow_zero_length] CHECK  ((len([NomArticulo])>(0)))
GO
ALTER TABLE [dbo].[Articulos] CHECK CONSTRAINT [SSMA_CC$Articulos$NomArticulo$disallow_zero_length]
GO
ALTER TABLE [dbo].[Categorias]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Categorias$Nombre$disallow_zero_length] CHECK  ((len([Nombre])>(0)))
GO
ALTER TABLE [dbo].[Categorias] CHECK CONSTRAINT [SSMA_CC$Categorias$Nombre$disallow_zero_length]
GO
ALTER TABLE [dbo].[Clientes]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Clientes$DirCliente$disallow_zero_length] CHECK  ((len([DirCliente])>(0)))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [SSMA_CC$Clientes$DirCliente$disallow_zero_length]
GO
ALTER TABLE [dbo].[Clientes]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Clientes$Email$disallow_zero_length] CHECK  ((len([Email])>(0)))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [SSMA_CC$Clientes$Email$disallow_zero_length]
GO
ALTER TABLE [dbo].[Clientes]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Clientes$Idcliente$disallow_zero_length] CHECK  ((len([Idcliente])>(0)))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [SSMA_CC$Clientes$Idcliente$disallow_zero_length]
GO
ALTER TABLE [dbo].[Clientes]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Clientes$NomCliente$disallow_zero_length] CHECK  ((len([NomCliente])>(0)))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [SSMA_CC$Clientes$NomCliente$disallow_zero_length]
GO
ALTER TABLE [dbo].[Clientes]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Clientes$TelCliente$disallow_zero_length] CHECK  ((len([TelCliente])>(0)))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [SSMA_CC$Clientes$TelCliente$disallow_zero_length]
GO
ALTER TABLE [dbo].[Detalles]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Detalles$IdArticulo$disallow_zero_length] CHECK  ((len([IdArticulo])>(0)))
GO
ALTER TABLE [dbo].[Detalles] CHECK CONSTRAINT [SSMA_CC$Detalles$IdArticulo$disallow_zero_length]
GO
ALTER TABLE [dbo].[Facturas]  WITH NOCHECK ADD  CONSTRAINT [SSMA_CC$Facturas$IdCliente$disallow_zero_length] CHECK  ((len([IdCliente])>(0)))
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [SSMA_CC$Facturas$IdCliente$disallow_zero_length]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos].[IdArticulo]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos', @level2type=N'COLUMN',@level2name=N'IdArticulo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos].[NomArticulo]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos', @level2type=N'COLUMN',@level2name=N'NomArticulo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos].[PreArticulo]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos', @level2type=N'COLUMN',@level2name=N'PreArticulo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos].[Stock]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos', @level2type=N'COLUMN',@level2name=N'Stock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos].[Categ]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos', @level2type=N'COLUMN',@level2name=N'Categ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos', @level2type=N'CONSTRAINT',@level2name=N'Articulos$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Articulos].[CategoriasArticulos]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Articulos', @level2type=N'CONSTRAINT',@level2name=N'Articulos$CategoriasArticulos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Categorias].[Categoria]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categorias', @level2type=N'COLUMN',@level2name=N'Categoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Categorias].[Nombre]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categorias', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Categorias].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categorias', @level2type=N'CONSTRAINT',@level2name=N'Categorias$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Categorias]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Categorias'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Clientes].[Idcliente]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'Idcliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Clientes].[NomCliente]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'NomCliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Clientes].[DirCliente]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'DirCliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Clientes].[TelCliente]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'TelCliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Clientes].[Email]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Clientes].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'CONSTRAINT',@level2name=N'Clientes$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Clientes]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Detalles].[IdFactura]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Detalles', @level2type=N'COLUMN',@level2name=N'IdFactura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Detalles].[IdArticulo]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Detalles', @level2type=N'COLUMN',@level2name=N'IdArticulo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Detalles].[PreVenta]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Detalles', @level2type=N'COLUMN',@level2name=N'PreVenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Detalles].[Cantidad]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Detalles', @level2type=N'COLUMN',@level2name=N'Cantidad'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Detalles]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Detalles'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Detalles].[Articulosdetalle]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Detalles', @level2type=N'CONSTRAINT',@level2name=N'Detalles$Articulosdetalle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Detalles].[facturadetalle]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Detalles', @level2type=N'CONSTRAINT',@level2name=N'Detalles$facturadetalle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Facturas].[IdFactura]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Facturas', @level2type=N'COLUMN',@level2name=N'IdFactura'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Facturas].[Fecha]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Facturas', @level2type=N'COLUMN',@level2name=N'Fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Facturas].[IdCliente]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Facturas', @level2type=N'COLUMN',@level2name=N'IdCliente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Facturas].[PrimaryKey]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Facturas', @level2type=N'CONSTRAINT',@level2name=N'Facturas$PrimaryKey'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Facturas]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Facturas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'PcVentas.[Facturas].[Clientefactura]' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Facturas', @level2type=N'CONSTRAINT',@level2name=N'Facturas$Clientefactura'
GO
